<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Guidance : Guidance for data.gov.uk users, publishers and sysadmins">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>{% if page.title %} {{ page.title }} | {% endif %} data.gov.uk Guidance</title>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-10855508-7', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <div id="search" style="">
            <!-- Google CSE - site search -->
            <script>
              (function() {
                var cx = '009018663486170207684:2itggibm8ji';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:searchbox-only>
            <!--<gcse:search></gcse:search>-->
          </div>
          <h1 id="project_title">
            <a rel="home" href="{{site.baseurl}}/">
              <div id="dgu_logo"></div>
              Guidance
            </a>
          </h1>
          <h2 id="project_tagline">for users, publishers and sysadmins</h2>
        </header>
    </div>
    <div id="greenbar"></div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

        <h1>{{ page.title }}</h1>
        {{ content }}

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <div id="greenbar"></div>
      <footer class="inner">
        <ul>
          <li><a href="https://data.gov.uk/contact" title="">Contact data.gov.uk</a></li>
          <li><a href="https://github.com/datagovuk/guidance/commits/gh-pages/{{page.path}}">History of this page</a></li>
          <li><a href="https://github.com/datagovuk/guidance/blob/gh-pages/{{page.path}}">This page in GitHub</a></li>
        </ul>
      </footer>
    </div>

    

  </body>
</html>

